* {
  box-sizing: border-box;
}

#selected {
  border: 4px solid #333;
}

.palette {
  margin-top: 15px;
  width: 400px;
  height: 140px;
  /* Resolves inherent white-space between inline-block
  elements that don't follow the CSS box model */
  font-size: 0;
  border: 5px solid black;
}

.pixel-large {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid grey;
}

/* Colors */
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
