* {
  box-sizing: border-box;
}

h1 {
  margin-top: 75px;
  text-align: center;
}

#selected {
  outline: 4px solid #333;
}

.canvas {
  font-size: 0;
  outline: 2px solid black;
  margin: 0 auto;
}

.palette {
  font-size: 0;
  outline: 2px solid black;
  margin: 0 auto;
  margin-top: 25px;
}

.swatch {
  outline: 1px solid grey;
  display: inline-block;
}

.pixel {
  display: inline-block;
  outline: 1px dashed grey;
}
